.profileContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
}