.profileDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 1rem;
}

.profileDetailsContainer strong {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.profileDetailsContainer p {
  font-size: 1.25rem;
  width: 100%;
  max-width: 400px;
  margin-bottom: 0.5rem;
}

.profileDetailsContainer a {
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

.profileDetailsContainer a:hover {
  color: blue;
}
