.levelModalOverlay {
  background: rgb(242, 243, 245);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Josefin Sans', sans-serif;
}


.profileDetailsContainer {
  position: relative;
  max-width: 520px;
  background:rgb(240, 145, 111);
  box-shadow: 5px 5px 15px rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profileDetailsContainer strong {
  font-size: 2.25rem;
  text-align: center;
  margin: 1rem;
}

.profileDetailsContainer p {
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  text-align: justify;
  line-height: 1.5;
}

.profileDetailsContainer a {
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(19, 19, 19);
  text-align: center;
  background-color: rgb(242, 243, 245); 
  padding: 1rem;
  border-radius: 20%;
  transition: background-color 0.1s;
}

.profileDetailsContainer a:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.profileDetailsContainer > img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}