.profileDetailsContainer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  max-width: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileDetailsContainer strong {
  font-size: 2.25rem;
}

.profileDetailsContainer p {
  font-size: 1.25rem;
}

.profileDetailsContainer a {
  font-size: 1.25rem;
  text-decoration: none;
}
