.levelModalOverlay {
  background: rgb(242, 243, 245);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}


.profileDetailsContainer {
  position: relative;
  width: 520px;
  height: 350px;
  background:rgb(240, 145, 111);
  box-shadow: 5px 5px 15px rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  margin: 0.5rem;
  padding: 2rem;
}

.profileDetailsContainer strong {
  font-size: 2.25rem;
  text-align: center;
  margin: 2rem;
}

.profileDetailsContainer p {
  font-size: 1.25rem;
  width: 100%;
  letter-spacing: 1px;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.profileDetailsContainer a {
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(19, 19, 19);
  text-align: center;
  margin: 2rem;
  background-color: rgb(242, 243, 245); 
  padding: 1rem;
  border-radius: 20%;
  transition: background-color 0.1s;
}

.profileDetailsContainer a:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
